.personal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 78vh;
  overflow: hidden;
  text-align: center;
  transition: $transition;
}

.about-card {
  position:relative;
  width: 90%;
  height: 25%;
  margin: 0 auto;
  overflow: scroll;
  text-align: center;
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  transition: $transition;
  background-size: cover;
  background-position: center;
  h5 {font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;
    transition: $transition;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
    p, ul,  { display: none; list-style: none}
  &:hover { height: 55vh;
    h5 {display: none;}
    p, ul {display: block;
    margin: 3vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;}
  }
}

.about-card-1 {border-top: $border;
  border-radius: 24px 24px 0 0;
}
