.homepage {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  opacity: 0.8;
}
.homepage-container {
  position: absolute;
  display: flex;
  width: 93vw;
  height: 90.45vh;
  border: $border;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out 1s;
}
.tab {
  width: 31vw;
  height: 90vh;
  overflow: hidden;
  text-align: center;
  transition: all ease-in-out 0.8s;
    &:hover {width: 100%;}
    h2 {font-size: 6em; color: black; font-weight: bold; font-family: 'Quicksand', sans-serif;}
    h3, h4 {font-size: 2.5em; color: black; font-weight: bold; font-family: 'Quicksand', sans-serif; margin: 1vh;}
    p {font-size: 1.5em; color: black; font-weight: normal; font-family: 'Quicksand', sans-serif; margin: 1vh;}
}
.intro-tab {
  // background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1653562140/me_xmkpgq.jpg);
  background-color: lightblue;
  background-size: cover;
  border-right: $border;
}
.projects-tab {
  border-right: $border;
  background-color: lightcoral;
}
.about-me-tab {
  background-color: lightyellow;
}
.hide-div {
  display: none;
}
.intro-tab:hover .hide-div {
  display: block;
}
.contact-links {
  background-color: transparent;
  height: 5vh;
  width: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {color: black;
    opacity: 1;
    transition: ease .1s;
    text-decoration: none;
    font-size: 1.5em;}
    a:hover {
      opacity: 0.6;
      text-decoration: none;
    }
}
