.homepage {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}
.homepage-container {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 96vh;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.tab {
  transition: $transition;
  border-top: $border;
  width: 55vw;
  height: 100%;
  overflow: hidden;
  text-align: center;
    h2 {transition: $transition;-webkit-text-stroke: 1px black; font-size: 4em; color: white; font-weight: 400; font-family: 'Quicksand', sans-serif;}
    h3, h4 {transition: $transition; -webkit-text-stroke: 1px black;font-size: 2.2em; color: white; font-weight: 400; font-family: 'Quicksand', sans-serif; margin: 3vh;}
    h5, p, a {transition: $transition; opacity: 0;}
    &:hover {width: 100%; border-top: 2px transparent solid;
      h2 {font-size: 6em; color: black; font-weight: 600;}
      h3, h4 {color: black;}
      h2, h5, p, a, .tab-surround, .container-projects, .personal
      {transition: $transition; opacity: 1;}
  }
}
.intro-tab {
  background-color: lightblue;
  background-size: cover;
  border-right: $border;
  overflow: scroll;
  p {font-size: 1.3em; color: black; font-weight: normal; font-family: 'Quicksand', sans-serif;
    padding: 9vh 3vh;
    margin: 2vh 5vh;
    height: 43vh;
    position: absolute;
    top: 14em;
  }
}

.projects-tab {
  background-color: rgb(240, 128, 128);
  &:hover + .project-card {
    visibility: hidden;
  }
}
.about-me-tab {
  animation: 2s slideinintro;
  border-left: $border;
  background-color: lightyellow;
}

@keyframes slideinintro {
  from {margin-right: 100%;
    width: 55vw;}
  to {margin-right: 0%;
    width: 55vw;}
}

.tab-surround {opacity: 0;}

.contact-links {
  background-color: transparent;
  height: 5vh;
  width: 28vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: $transition;
  animation: 2s slideinnav;
  a {color: black;
    opacity: 0.7;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1.5em;}
    a:hover {
      opacity: 1;
      text-decoration: none;
  }
}

@keyframes slideinnav {
  from { width: 56vw;}
  to { width: 28vw;}
}

.intro-tab:hover {
  display: block;
  background-color: #F4F4F4;
  .profile {
    border: 16px solid lightcoral;
    transform: scale(1.15);
  }
  +.projects-tab {background-color: lightblue;}

}
.projects-tab:hover {
  display: block;
  background-color: #F4F4F4;
  +.about-tab {background-color: lightcoral;}
}
.about-me-tab:hover {
  display: block;
  background-color: #F4F4F4;
}

.hide-div {position: relative;}



.profile {
  transition: $transition;
  height: 20vh;
  border-radius: 50%;
  border: 2px solid black;
  background: radial-gradient(circle, white 40%, lightyellow 40%, lightyellow 55%, lightblue 55%);
}

@keyframes profileHover {
  from {border: 2px solid black;}
  to {border: 16px solid lightcoral;}
}

@media only screen and (max-width: 500px) {
  .contact-links {width: 60vw;}
  .homepage-container {flex-direction: column; margin-top: 5vh;}
  .tab {width: 100vw;
    height: 31.3%;
    border-left: none;
    border-right: none;}
  .tab:hover {height: 250%;
    h2 {font-size: 4em; font-weight: 400;}
    h3, h4 {font-size: 1.6em; font-weight: 300; margin: 2vh;}
    .intro-tab {height: 250%; background-color: transparent;}
    p {font-size: 1.1em; padding: 2vh 0vh; margin: 2vh 3vh; height: auto;}
  }
  @keyframes slideinnav {
    from { width: 30vw;}
    to { width: 60vw;}
  }
}
