.project-card {
  overflow: hidden;
  height: 24vh;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  margin: 2vh;
  position: relative;
  border: $border;
  background-size: cover;
  background-position: center;
  h5 {font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
    color: white;
    width: 80%;
    transition: $transition;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    margin: 0;
  }
}
.project-card p {
  opacity: 0;
  transform: scale(0);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
  width: 80%;
  margin: auto;
  overflow: scroll;
}


.project-card:hover {
  box-shadow: 0 0 0 200px rgba(0,0,0,0.85) inset;
  transition: $transition;
  cursor: pointer;
  h5 {opacity: 0;}
  p {
    opacity: 1;
    transform: scale(1);
  }
}
