<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://res.cloudinary.com/k2x4b-523p/image/upload/v1627604264/logo_ywxijp.png" alt="">
      <% end %>
    </div>
  </div>
    <div class="contact-links">
      <a class="fab fa-github fa-2x" target="blank" href="https://github.com/neilgoodridge"></a>
      <a class="fab fa-linkedin-in fa-2x" target="blank" href="https://linkedin.com/in/neilgoodridge/"></a>
      <a class="far fa-regular fa-comment" target="_blank" href="https://wa.me/447500041449"></a>
      <a class="fas fa-solid fa-at" target="_blank" href="mailto:neilrgoodridge@gmail.com"></a>
      <a class="fas fa-solid fa-phone" href="tel:07500041449"></a>
      <a class="fa fa-file-pdf" target="_blank" href="Neil-Goodridge-CV.pdf"></a>
    </div>
  <%# <div class="nav-btn">
    <label for="nav-check">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
  </div>

  <div class="nav-links">
    <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
    <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
  </div> %>
</div>
