<div class="projects-container">
  <div class="project-card project-card-1" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324570/oa-7c0f103bd709a0d0bf082573dca098f2.png)">
    <h5>The OA</h5>
    <p>An <strong>Online Activism</strong> platform built by a team of 4 over 9 days. <br> <br>Built using Ruby on Rails, this website gives people the chance to affect change on social issues they feel passionate about, while not being able to get on the streets and demonstrate. </p>
  </div>
  <div class="project-card project-card-2" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324563/Water-RnR-a515618c958a63d29fe3ec311d599830.png)">
    <h5>Water RnR</h5>
    <p>Forget AirBnB. <strong>Water RnR</strong> allows you to find a relaxing residential pool in your area for a much needed dip. <br><br> Hire outside someone elses pool, or set yourself up as a host and rent out your own for a given amount of time. Refreshing!</p>
  </div>
  <div class="project-card project-card-3" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1652448163/F1_zwisgj.png)">
    <h5>F1 Database (Coming Soon)</h5>
    <p>I'm building a database using historic F1 data. Using an API, it will allow you to find stats and info from 1950 through to the most recent weekend.</p>
  </div>
</div>

<%= javascript_pack_tag 'fade_in.js' %>
