@media (max-width: 992px) {
  .home-container {max-width: 85%;}
  .card-about {
    margin-bottom: 2vh;
    height: 40.5vh;
    p {font-size: 21px;
    margin: 0 5vh;
  padding-bottom: 2vh;}
  }
}
@media(max-width: 768px) {
  .container { grid-template-columns: 1fr;}
  #left-image { height: 94vh; margin: auto;}
  .cards-container {display: flex; flex-direction: column-reverse;}
  .card-skills {height: 20vh;}
  .cards {grid-gap: 1em;}
  .card-links {margin: 0; border: none;}
  #image-text-upper {height: 20vh;}
  .cards-holder {display: none;}
  .card-about {
    height: 33vh;
    margin-bottom: 2vh;
    p {margin: 1em 10vh 0; font-size: 24px;}
    h3 {margin: 7vh 5vw 14vh}
  }
}
@media only screen and (max-width: 500px) {
  .container { grid-template-columns: 1fr; height: 95vh;}
  .cards-container {display: flex; flex-direction: column-reverse;}
  .card-photo {height: 30vh;}
  .image { height: 25vh;}
  .card-skills {display: none;}
  // .container-projects {margin: 12vh 9vw}
  .card-links {height: 6vh;
    border-top: $border;
    position: -webkit-fixed;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;}
  .cards {margin: 0px;}
  .card-about {
    margin-top: 5vh;
    min-height: 30vh;}
    h3 {font-size: 1.6em; margin: 2vh 5vw 2vh;}


  }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .card-about {height: 45.5vh;}
}
@media (max-width: 500px) {
  // .personal {display: block; height: 94vh;}
  // .card-project, .card-project-left {height: 22vh; margin-top: 4vh;
  //   margin: 0;
  //   border-radius: 0;}
    .card-about {height: 45vh;
      h3 { font-size: 1.6em; margin: 2vh 5vw 2vh;}
      p {font-size: 1.1em; margin: 3em 1em 0em 1em}
    }
    .nav { margin-bottom: 5vh;}
    .card-project img, .card-project-left img { box-shadow: none; filter: grayscale(0%); }
    .card-project p, .card-project-left p { padding-top: 0;}
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .container-projects {margin-top: 17vh; padding: 0; height: 103%;}
    .container {margin-top: 8vh; margin-bottom: 8vh}
    .card p {font-size: 14px;}
    .card-about {height: 45.5vh;}
    .cards { grid-gap: 10px; margin-top: 0px;}
    .card-skills {min-height: 18vh;}
    .card-project, .card-project-left { height: 30vh;
      // h2 {font-size: 16px;}
      p {padding-top: 0px; font-size: 13px; max-width: 47%;}
    }
}
